* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #f1eaea;
  border-bottom: 1px solid #e9e1e1;
}

.navigation a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-size: 16px;
}
.nav-icons a i {
  margin-right: 6px;
}

.nav-logo h4{
  font-size: xx-large;
}
.nav-icons a span {
  display: inline;
}
.nav-icons a{
  border:1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.Cart-heading{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(201, 190, 190);
}
.cart-items{
    border:1px solid rgb(245, 238, 238);
    margin:10px;
    width:75%;
    padding: 19px;
    
}
.items{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(214, 208, 208);
    margin:10px;
}

.items>div>img{
    width:100px;
    height:100px;
}
.items>div:nth-child(1),.items>div:nth-child(3){
    width:20%;
    text-align: center;
}
.items button{
    background-color: black;
    color:white;
    border:none;
    width:50px;
    border-radius: 5px;
    margin:5px
}
.cart-parent{
  display: flex;
}
.cart-summary{
  width:25%;
  border:1px solid rgb(224, 219, 219);
  height: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
 
}
.order-summary>div{
  display: flex;
  justify-content: space-between;
  margin:15px;
}
.order-summary>h3{
  background-color: rgb(233, 226, 226);
  padding: 5px;
  text-align: center;
  border-radius: 9px;
  margin:5px;
}
.checkout-btn{
  background-color: black;
  color:white;
  border:none;
  width:100%;
  text-align: center;
  padding: 5px;
  margin-top:20px;
  border-radius: 10px;
}
/* ----------------------------------------Mobile View------------------------------------------------------- */


@media (max-width: 768px) {


  .navigation {
    flex-direction: column;
    align-items: stretch;
    padding: 15px 15px;
    
  }

  .navigation > div:nth-child(1),
  .navigation > div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:5px
    
  }

  .navigation > div:nth-child(2) {
    order: 3; /* Move to second line */
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }

  .navigation>div:nth-child(1){
    width:100%;
    font-size: x-large;
    border-bottom:1px solid #eee;
   
  }
  .nav-logo>h4{
    text-align: center;
    width: 100%;
    letter-spacing: 5px;
    
  }

  .nav-icons a {
    margin: 0 5px;
  }
  .cart-items{
    width:100%;
  }
  .items>div:nth-child(2){
    width:40%;
    text-align: center;
}
.items>div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-parent{
  display: flex;
  flex-direction: column;
}
.cart-summary{
  width:95%;
  margin:0
}

}